.mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

.mat-form-field {
  display: block;
  margin-top: 20px;
}
.home {
  color: white;
  cursor: pointer;
  text-decoration: none;
}
