//Breakpoints
$screen-xsm: 300px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;
@mixin screen-xsm {
  @media (min-width: #{$screen-xsm}) {
    @content;
  }
}
@mixin screen-sm {
  @media (min-width: #{$screen-sm}) {
    @content;
  }
}
@mixin screen-md {
  @media (min-width: #{$screen-md}) {
    @content;
  }
}
@mixin screen-lg {
  @media (min-width: #{$screen-lg}) {
    @content;
  }
}
@mixin screen-xl {
  @media (min-width: #{$screen-xl}) {
    @content;
  }
}
@mixin screen-xxl {
  @media (min-width: #{$screen-xxl}) {
    @content;
  }
}
