//Colors
$secondary-color: #aab1bb;
$gray-color: #FAFAFA;
$secondary-active-color: #696969;
$background-color-gray: #eff1f5;
$black-color: #000000;
$white-color: #ffffff;
$blue-color: #36afff;
$orange-color: #dc7633;
$orange-hover-color: #c16830;
$brown-color: #c35731;
$green-color: #d0ffc1;
$yellow-color: #e1c317;
$brown-meat-color: #793307;
$red-color: #f44336;
$nav-link-color: #666666;
$bg-color: #F3F5F4;
$border-gray: #E0E0E0;
$hover-gray: #F5F5F5;
$active-gray: #EBEBEB;
$at-blue-light: #00AFE9;
$at-blue-dark: #006AB8;
$red: #F44336;
