@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
$titles-font: 'Bebas Neue', cursive;
$sans-serif: 'Source Sans Pro', Helvetica, Verdana, sans-serif;
$serif: Merriweather, Georgia, 'Times New Roman', serif;
$mono: 'Source Code Pro', Courier, mono;
$light: 300;
$normal: 400;
$semi-bold: 500;
$bold: 700;
